*{
	margin: 0;
	padding: 0;
}
body{
	background: black;
}

.container{
	overflow: hidden;
	height: 400px;
	width: 600px;
	margin: 150px;
	box-shadow: 0 0 60px rgba(0,0,0,1);
}

.slider_images{
	height: 400px;
	width: 3000px;

	position: relative;
	animation: Sliding-img 10s infinite;
}

.slider_images img{
	height: 400px;
	width: 600px;
	float: left;
}

@keyframes Sliding-img{
	0%{
		left: 0px;
	}
	20%{
		left: -600px;
	}
	40%{
		left: -1200px;
	}
	60%{
		left: -1800px;
	}
	80%{
		left: -2400px;
	}
	100%{
		left: -3000px;
	}
	120%{
		left: -3600px;
	}
	140%{
		left: -4200px;
	}
}

